<nav class="sticky top-0 mb-2 shadow-md navbar z-30 bg-base-300">
  <div class="flex-1 px-2 lg:flex-none flex items-center">
    <h1 class="text-lg font-bold mr-2">
      Theme
    </h1>
    <select data-choose-theme class="select select-bordered w-full max-w-xs">
      <option disabled="disabled" selected="selected" value="wireframe">select theme</option>
      <option value="wireframe">wireframe</option>
      <option value="light">light</option>
      <option value="cupcake">cupcake</option>
      <option value="bumblebee">bumblebee</option>
      <option value="emerald">emerald</option>
    </select>
  </div>
  <div class="flex flex-1 justify-end px-2">
    <div class="flex">
      <% unless Current.user %>
        <%= button_to 'sign up', sign_up_path, method: :get, class: 'btn btn-ghost rounded-btn' %>
        <%= button_to 'log in', log_in_path, method: :get, class: 'btn rounded-btn' %>
      <% end %>
      <% if Current.user %>
        <div class="dropdown dropdown-end">
          <div tabindex="0" class="btn btn-ghost rounded-btn">
            <%= Current.user.email %>
          </div>
          <ul class="w-52 shadow menu dropdown-content bg-base-100 rounded-box">
            <li>
              <%= link_to 'Logout', log_out_path, method: :delete %>
            </li>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
</nav>

